* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
}

header {
    position: fixed;
    top: 20px;
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

svg {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

#hex-container {
    z-index: -1;
    position: absolute;
    height: 100dvh;
    width: 100vw;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: white;  
    cursor: default;
} 

#palette-container {
    z-index: -1;
    position: absolute;
    bottom: 0;
    height: 100dvh;
    width: 100vw;
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
} 

#copy-notification {
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: none;
    width: 120px;
    height: 30px;
    display: none;
    opacity: 0;
    transition: opacity 1s ease-out;
}

#copy-notification.visible {
    opacity: 1;
  }

#copy-notification.fade-out {
    opacity: 0;
  }

.palette {
    width: 20%;
    height: 100%;
    font-size: 2rem;
    display: grid;
    place-items: center;
}

footer {
    width: 100vw;
    position: fixed;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    width: 160px;
}

@media screen and (max-width: 1000px) {
    .palette {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 500px) {
    
    #hex-container {
        font-size: 2rem;
    }

    #palette-container {
        flex-direction: column;
    }

    .palette {
        width: 100%;
        height: 20%;
    }

    #copy {
        top: 10px;
    }
    header {  
        height: 100vh;
        width: 15vw;
        right: 20px;
        top: 0;
    }
    nav {
        width: 100%;
        height: 60%;
        flex-direction: column;
    }

    footer {
        width: 10vw;
        height: 100vh;
        position: fixed;
        left: 0;
        bottom: 0;
    }

    a {
        transform: rotate(90deg);
    }

}