<header>
  <a href="/">
    <img src="/logo_13025.png" alt="hex-gen logo" width="55" title="Hex-Gen" />
  </a>


  <a href="/">
    <button id="home" title="Home">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z" />
      </svg>
      <p>Home</p>
    </button>
  </a>
</header>

<main>
  <div id="toggle-form">
    <button id="hex-mode">HEX CODE</button>

    <button id="palette-mode">PALETTE</button>
  </div>

  <form action="">
    <div class="card">
      <div class="color"></div>
      <div class="color-info">
        <div class="name-hex">
          <input
            type="text"
            placeholder="Color Name..."
            id="name"
            name="name"
          />
          <p class="hex-label">#hexcode</p>
        </div>
        <button id="randomize" name="randomize">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path
              d="M17,3L22.25,7.5L17,12L22.25,16.5L17,21V18H14.26L11.44,15.18L13.56,13.06L15.5,15H17V12L17,9H15.5L6.5,18H2V15H5.26L14.26,6H17V3M2,6H6.5L9.32,8.82L7.2,10.94L5.26,9H2V6Z"
            />
          </svg>
        </button>
      </div>
    </div>

    <input type="submit" value="Submit" />
  </form>
</main>

<footer>&copy; 2025 Hex-Gen</footer>
