<div id="sort-filter">
    <select id="sort" title="Sort">
      <option value="">Sort</option>
      <option value="newest">Newest</option>
      <option value="oldest">Oldest</option>
      <option value="name">Name</option>
      <option value="stars">Stars</option>
    </select>

    <select id="filter" title="Filter">
      <option value="">Filter</option>
      <option value="colors">Colors</option>
      <option value="palettes">Palettes</option>
      <option value="all">All</option>
    </select>
  </div>

  <section id="cards-container"></section>