:root {
  --color-grey: #b3b3b3;
}

* {
  margin: 0;
  padding: 0;
  font-family: "acumin-pro", sans-serif;
  font-style: normal;
}

html {
  height: 100dvh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(130deg, #fffafa, #f8f8ff);
  scroll-behavior: smooth;
}

body {
  width: 60%;
  height: 100%;
  display: grid;
  grid-template-rows: 100px 8fr 100px;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#search {
  width: 40%;
  height: 35%;
  position: relative;

  input {
    width: 85%;
    height: 30px;
    border-radius: 50px;
    border: 1.5px solid var(--color-grey);
    padding-top: 3px;
    padding-left: 40px;
    background: none;
    font-size: 1rem;
  }

  input:focus {
    background-color: white;
    outline: none !important;
    border: 1.5px solid #30b260;
  }

  input::placeholder {
    color: var(--color-grey);
  }

  svg {
    position: absolute;
    fill: var(--color-grey);
    z-index: 1;
    top: 16%;
    left: 3%;
    cursor: pointer;
  }
}

header button {
  width: 130px;
  height: 50px;
  padding: 5px 10px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  place-items: center;
  background: linear-gradient(130deg, #9cd72a, #30b260);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.05rem;
  cursor: pointer;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  font-weight: 700;

  svg {
    fill: white;
    width: 24px;
    stroke: white;
    stroke-width: 1.5px;
  }

  p {
    margin-top: 4px;
  }
}

img {
  cursor: pointer;
}

main {
  display: grid;
  place-items: center;
  grid-template-rows: 90px;
  width: 95%;
  justify-self: center;
}

#sort-filter {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;

  select {
    width: 110px;
    height: 45px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    place-items: center;
    cursor: pointer;
    background: none;
    border: 1.5px solid var(--color-grey);
    border-radius: 50px;
    color: var(--color-grey);
    padding-left: 20px;
    padding-top: 2px;
    font-size: 1rem;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("/public/keyboard_arrow_down_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg");
    background-repeat: no-repeat;
    background-position: right 10px center;
  }

  select option {
    border-radius: 10px;
  }

  select:focus {
    background-color: white;
    outline: none !important;
    border: 1.5px solid #30b260;
    color: black;
  }
}

#cards-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 215px);
  justify-content: center;
  gap: 20px 30px;
}

.card {
  border: 1px solid rgb(150, 150, 150);
  width: 100%;
  aspect-ratio: 5/6;
  display: grid;
  grid-template-rows: 5fr 1fr;
  place-items: center;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.color {
  border: 1px solid black;
  width: 85%;
  aspect-ratio: 1/1;
  border-radius: 5px;
}

.color-info {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  font-size: 1rem;
  height: 100%;

  svg {
    width: 1.25em;
    fill: rgb(215, 220, 215);
  }

  svg:hover {
    fill: rgba(0, 0, 0, 0.5);
  }
}

.name-hex {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
}

.hex-label {
  font-size: 0.75rem;
  color: rgb(150, 150, 150);
}

footer {
  display: grid;
  place-items: center;
  color: rgb(150, 150, 150);
}

form {
  width: 50%;
  display: grid;
  grid-template-rows: 8fr 1fr;
  justify-items: center;
  align-self: start;
  gap: 20px 0;

  input[type="text"] {
    outline: none;
  }

  input[type="submit"] {
    width: 130px;
    height: 50px;
    padding: 5px 10px;
    background: linear-gradient(130deg, #9cd72a, #30b260);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.05rem;
    cursor: pointer;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    font-weight: 700;
  }
}

#toggle-form {
  width: 45%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

#hex-mode,
#palette-mode {
  width: 115px;
  height: 35px;
  cursor: pointer;
  border: 1px solid rgb(215, 220, 215);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background: none;
  border-radius: 5px;
}

/* static styles ~ remove for state management */
#hex-mode {
  border-color: black;
}

#palette-mode {
  color: rgb(215, 220, 215);
  box-shadow: none;
}
/* end static styles */

#name {
  border: none;
  font-size: 1.25rem;
  background: none;
}

#randomize {
  border: 1px solid black;
  width: 45px;
  height: 30px;
  display: grid;
  place-items: center;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;

  svg {
    width: 28px;
    fill: black;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1600px) {
  body {
    width: 80%;
  }

  #cards-container {
    grid-template-columns: repeat(auto-fit, 245px);
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  body {
    width: 80%;
  }

  #cards-container {
    grid-template-columns: repeat(auto-fit, 245px);
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    width: 80%;
  }

  #cards-container {
    grid-template-columns: repeat(auto-fit, 265px);
  }
}

@media screen and (max-width: 768px) {
  #sort-filter {
    justify-content: center;
  }

  header button {
    width: 50px;
    height: 50px;
    grid-template-columns: 1fr;
    padding: 0;

    p {
      display: none;
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  body {
    width: 80%;
  }

  #cards-container {
    grid-template-columns: repeat(auto-fit, 350px);
  }
}

@media screen and (max-width: 480px) {
  body {
    width: 80%;
  }

  #search {
    width: 50%;

    input {
      padding-left: 30px;
    }
  }

  #cards-container {
    grid-template-columns: repeat(auto-fit, 275px);
  }
}

@media screen and (max-width: 360px) {
  #cards-container {
    grid-template-columns: repeat(auto-fit, 225px);
  }
}
